{include="header"}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-sm-12">

                <div class="alert alert-block fade in" style="display: none">
                        <button class="btn btn-info msg_close" style="float:right;left: inherit;right: 10px;"><i class="icon-remove"></i></button>
                    <h4>
                        <i class="icon-ok-sign"></i> Message !
                    </h4>
                    <p class="msg"></p>
                </div>

				<section class="panel">
					<header class="panel-heading"> Add New Category  </header>


                    <div id="upload-wrapper">
                        <div align="center">
                            <h3>Ajax File Uploader</h3>
                            <form action="processupload.php" method="post" enctype="multipart/form-data" id="MyUploadForm">
                                <input name="FileInput" id="FileInput" type="file" />
                                <input type="submit"  id="submit-btn" value="Upload" />
                                <img src="img/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
                            </form>

                            <div id="progressbox" ><div id="progressbar"></div ><div id="statustxt">0%</div></div>
                            <div id="output"></div>
                            <div id="loaded-img" style="display: none">
                            </div>

                        </div>
                    </div>

					<div class="panel-body">
						<form id="add_cat_form" action = "addcategory.php"role="form" method="post">
							<div class="form-group">
								<label for="Category Name">Category Name</label>
                                <input class="form-control" for="Category Name" placeholder="Category Name" name="title" required>
                                <label for="Category description">Category description</label>
                                <textarea class="form-control" for="Category description" placeholder="Category description" name="content" required></textarea>
							</div>
							<input id="add_cat" type="submit" class="btn btn-info" name="submit" value="submit">
						</form>
					</div>




				</section>
			</div>
		</div>
	</section>
</section>


{include="footer"}

