{include="header"}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading"> Add New Page</header>



					<div class="panel-body">
						<form action = "addpage.php"role="form" method="post">
							<div class="form-group">
								<label for="Title">Title</label>
								 <input class="form-control" for="Title" placeholder="Title" name="title" required>
							</div>
							<div class="form-group">
								<label for="Cats.">Cats.</label>
								<select name="catpid">
								{loop="cats"}
							<option value="{$value.cpid}">{$value.cpname}</option>
								{/loop}
								</select>
							</div>



							<input type="submit" class="btn btn-info" name="submit" value="submit">
						</form>
					</div>




				</section>
			</div>
		</div>
	</section>
</section>


{include="footer"}