{include="header"}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading"> Add New Video </header>


					<form action="addvideo.php" role="form" method="post">

						<div class="form-group">
							<label for="Title">Title</label> <input class="form-control"
								for="Title" placeholder="Title" name="title" required>
						</div>


						<div class="form-group">
							<label>Description</label>
							<textarea cols="60" rows="8" class="form-control" name="content"
								required></textarea>
						</div>

						<div class="form-group">
							<label for="YouTube URL">YouTube URL </label> <input
								class="form-control" for="YouTube URL" placeholder="YouTube URL"
								name="video_url" required>
						</div>
						
						<div class="form-group">
								<label for="pages">pages</label>
								<select name="pid">
								{loop="pages"}
							<option value="{$value.pid}">{$value.cpname} ==> {$value.pname}</option>
								{/loop}
								</select>
							</div>

						<input type="submit" class="btn btn-info" name="submit"
							value="submit">
					</form>



				</section>
			</div>
		</div>
	</section>
</section>


{include="footer"}
