{include="header"}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading">Update Cat Pages  </header>



					<div class="panel-body">
						<form action = "updatecatpages.php"role="form" method="post">
							<div class="form-group">
								<label for="catpages-name">catpages-name</label>
								 <input class="form-control" for="catpages-name" placeholder="catpages-name" name="cpname" value="{$cpname}" required>
							</div>
							<input type="hidden" name="cpid" value="{$cpid}">
							<input type="submit" class="btn btn-info" name="submit" value="submit">
						</form>
					</div>




				</section>
			</div>
		</div>
	</section>
</section>


{include="footer"}
