{include="header"}

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<!-- page start-->
		<div class="row">
			<div class="col-sm-12">
				<section class="panel">
					<header class="panel-heading"> {$title} </header>


					<div class="col-lg-6">
						<section class="panel">
							<header class="panel-heading">
								Video:{$title}
 <iframe width="420" height="315"
src="http://www.youtube.com/embed/{$video_url}">
</iframe> 
							
						</section>
					</div>
				</section>
			</div>
	</section>
	</div>
	</div>
</section>
</section>


{include="footer"}
