<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <h2 class="text-center title">{$book_title}</h2>
        <p class="text-primary text-center"><span>By: </span>{$name}</p>
        <h4 class="text-center description">
            {$book_content}
        </h4>
        <object data="pdfFiles/interfaces.pdf" type="application/pdf" >
            <embed src="{$book_file}" style="width:100%;height:500px" type="application/pdf">&nbsp; </embed>
        </object>

        <button class="btn btn-primary download" file-data="{$book_file}">
          Download
        </button>
    </div>
    {if="$NOWUID"}
    <div class="col-md-12">
        <form id = "review-form" class="form-horizontal" action="review.php">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="number" max="10" min="1" class="form-control" name="number" id="name" placeholder="You Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="content" id="username" placeholder="Review Description"></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                        <button type="submit" class="form-control" id="review"> Review</button>
                    </div>
                </div>
            </form>
    </div>
    {else}
    <a class="btn btn-info" href="admin/login.php">login</a>
    {/if}
</div>