<section class="wrapper">
    <div class="col-lg-6">
        <section class="panel">
            {if="count($reads)"}
            <header class="panel-heading">
                Your Read books
            </header>
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th><i class="icon-arrow-down"></i>Book id</th>
                    <th><i class="icon-arrow-down"></i>Book Name</th>
                    <th><i class=" icon-cog"></i> Control</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop="$reads"}

                <tr id="book-{$value.book_id}">
                    <td>{$value.book_id}</td>
                    <td class="hidden-phone">{$value.book_title}</td>
                    <td>
                        <a  class="btn btn-info btn-xs" href="book.php?id={$value.book_id}">show</i></a>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {else}
            <header class="panel-heading">
                You didn't read any book until now.
            </header>
            {/if}
        </section>
    </div>
    <div class="col-lg-6">
        <section class="panel">
            {if="count($downloads)"}
            <header class="panel-heading">
                Your downloaded books
            </header>
            <table class="table table-striped table-advance table-hover">
                <thead>
                <tr>
                    <th><i class="icon-arrow-down"></i>Book id</th>
                    <th><i class="icon-arrow-down"></i>Book Name</th>
                    <th><i class=" icon-cog"></i> Control</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {loop="$downloads"}

                <tr id="book-{$value.book_id}">
                    <td>{$value.book_id}</td>
                    <td class="hidden-phone">{$value.book_title}</td>
                    <td>
                        <a  class="btn btn-info btn-xs" href="book.php?id={$value.book_id}">show</i></a>
                    </td>
                </tr>
                {/loop}
                </tbody>
            </table>
            {else}
            <header class="panel-heading">
                You didn't download any book until now.
            </header>
            {/if}
        </section>
    </div>
    <section class="panel">
        <h3 class="text-center text-primary">Update Your info</h3>
        <form id = "update-user-info" class="form-horizontal" action="admin/updateinfo.php">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="name" id="name" placeholder="You Name" value="{$name}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="username" id="username" placeholder="username" value="{$username}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" value="{$email}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea  class="form-control" name="content" id="content" placeholder="about yourself">{$about}</textarea>
                    </div>
                </div>

            </div><!-- /.box-body -->
            <div class="box-footer text-center">
                <input type="hidden" name="user_id" value="{$uid}">
                <button id="update-btn" class="btn btn-primary">Update</button>
            </div><!-- /.box-footer -->
        </form>

        <h3 class="text-center">Reset Your Password</h3>

        <form id = "reset-password" class="form-horizontal" action="reset_user_password.php">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="old_password" id="old_password" placeholder="old password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" class="form-control" name="repassword" id="repassword" placeholder="retype the password">
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <input type="hidden" name="user_id" value="{$uid}">
                <button id="reset-btn" class="btn btn-primary">Rest Now</button>
            </div><!-- /.box-footer -->
        </form>


        <div class="alert alert-block fade in" style="display: none">
            <h4>
                <p id="msg"></p>
            </h4>

        </div>
    </section>
</section>