<h1 class="text-center">Sign Up</h1>

<form class="form-horizontal">
    <div class="box-body">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" name="username" id="inputEmail3" placeholder="username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="You Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" class="form-control" name="repassword" id="inputPassword3" placeholder="Password">
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
        <button type="submit" class="btn btn-default pull-right">Cancel</button>
        <button type="submit" class="btn btn-info">Sign in</button>
    </div><!-- /.box-footer -->
</form>